main{
    background: url(/img/background.png), lightgray 50% ;
    width: 1366px;
    height: 768px;
    margin: auto;
}
.about_us{
    display: flex;
    padding-top: 50px;
}
.logo{
    display: flex;
    flex-wrap: nowrap;
    max-width:fit-content;
    margin-left: 160px;
    max-height: 54px;
}
.logo_img{
    margin-right: 10px;
}
.color_logo{
    display: none;
}
.logo_animation:hover .logo:nth-of-type(1) {
    display: none;
}
  
.logo_animation:hover .color_logo:nth-of-type(2) {
    display: flex;
}
.contact_info{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 177px;
}
.phone_number:hover{
    color: #F26522;
}
.mail:hover{
    color: #F26522;
}
.phone_number{
    margin-top: 19px;
    text-align: right;
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 309px);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 54px;
    grid-row-gap: 37px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}
.services_img{
    width: 300px;
}
.services_text {
    margin-top: 18px;
    text-align: center;
}
.price_animation{
    background: #F26522;
    width: 300px;
    height: 55px;
    display: flex;
    opacity: 0;
    position: absolute;
    bottom: 43px;
}
.price{
    margin-left: 16px;
}
.price_text{
    margin-top: 8px;
    margin-bottom: 8px;
    
}
.View_Details{
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 12px;
    align-items: end;
}
.View_Details_text::after{
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none"><path d="M1 1L6 6L1 11" stroke="white"/></svg>');
    margin-left: 16px;
    margin-right: 16px;
}
.View_Details:hover{
    cursor: pointer;
}
.Shopping_Tours{
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}
.Shopping_Tours:hover .price_animation{
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;    
    opacity: 100;
    transition-property: all;
}
.Shopping_Tours:hover .services_text{
    color: #F26522;
}


.Sightseeing_Tours{
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}
.Sightseeing_Tours:hover .price_animation{
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;    
    opacity: 100;
    transition-property: all;
}
.Sightseeing_Tours:hover .services_text{
    color: #F26522;
}
.Food_Tours{
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
}
.Food_Tours:hover .price_animation{
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;    
    opacity: 100;
    transition-property: all;
}
.Food_Tours:hover .services_text{
    color: #F26522;
}
.Bars_Nightlife{
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
}
.Bars_Nightlife:hover .price_animation{
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;    
    opacity: 100;
    transition-property: all;
}
.Bars_Nightlife:hover .services_text{
    color: #F26522;
}
.Art_Architecture{
    grid-area: 2 / 2 / 3 / 3; 
    position: relative;
}
.Art_Architecture:hover .price_animation{
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;    
    opacity: 100;
    transition-property: all;
}
.Art_Architecture:hover .services_text{
    color: #F26522;
}
.Walking_Tours{
    grid-area: 2 / 3 / 3 / 4;
    position: relative;
}
.Walking_Tours:hover .price_animation{
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;    
    opacity: 100;
    transition-property: all;
}
.Walking_Tours:hover .services_text{
    color: #F26522;
}
.Copyright{
    margin-top: 50px;
}